Assignment2/Img/*
# Assignment1/Img/*
Assignment2/meshio/*
Assignment1/modulesAss1/__pycache__/*
Assignment1/modulesAss1/solvers/__pycache__/*
Assignment2/modulesAss2/__pycache__/*
Assignment2/modulesAss2/solvers/__pycache__/*
